<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45189C7A1DB51278005FDF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45189C8E1DB51279005FDF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45189C991DB51279005FDF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
